.header
  .header-photo
    .text-center
      %p=image_tag @profile.photo, size:'300'
      %p=@profile.name
      %p=@profile.band
      %i
        %p=@profile.role
      =link_to 'Edit', edit_profile_path, class: 'btn btn-default', :style=>'width:100px; background-color:transparent; color:white'
.wrap
  .text-center
    %p=@profile.about
  %hr
  Your songs:
  %br/
  =link_to "Back", root_path