.col-lg-1
.col-lg-10
  .content
    =simple_form_for(@contest) do |f|
      =f.input :title
      =f.input :image
      =f.input :description
      %p Contest ends:
      %p=f.date_select :contest_end
      %p Voting ends:
      %p=f.date_select :voting_end
      =f.button :submit
