=render 'form'

.wrap
  %hr
  When date.today == @contest.contest_end , user wont be able to apply their tracks
  %br/
  When date.today ==@contest.contest_end, user will have the possibility to voting for tracks.
  %br/
  When date.today ==@contest.voting.end, user wont be able to vote for tracks