.wrap
  .text-center
    %h2=@contest.title
    %p=image_tag @contest.image
    =@contest.description
  %hr
  .contest-songs
     songs:
  =link_to "back", root_path
  =link_to "Delete", contest_path, method: :delete