.panel.panel-default
  .panel.panel-body
    .text-center
      %h2=@contest.title
      %p=image_tag @contest.image
      =@contest.description

songs:

=link_to "back", root_path

=link_to "Delete", contest_path, method: :delete


