.header
  .logo
    .text-center
      %b
        %h1 Letstars
      %span.logo-text show your talent

.text-center
  .topic
    Latest contests

.row
  .col-lg-0
  .col-lg-12
    .text-center
      .contests
        -@contests.each do |contest|
          -@modalName = '#myModal' + contest.id.to_s
          .contest
            .contest-image
              =image_tag contest.image, width:"100%", height:"300px"
              .contest-title
                =link_to contest.title.truncate(29), contest
              .my_badge
                -if (contest.contest_end.to_date-Time.now.to_date).to_i < 0
                  contest closed
                -else
                  =(contest.contest_end.to_date-Time.now.to_date).to_i
                  days left

.text-center
  .topic
    Latest news
  .col-lg-0
  .col-lg-13
    .posts        
      - @posts.each do |post|
        .post1
          %h3.title
            = link_to post.title_blog, post
          .pull-left
            .glyphicon.glyphicon-comment
            =post.comments.count
            ='comment'.pluralize(post.comments.count)
          .post-date
            Published at:
            =time_ago_in_words(post.created_at)      
    .text-center
      .topic
        %p=link_to 'View all news', posts_path, class:'btn btn-default'


-@contests.each do |contest|
  -@modalName='myModal' + contest.id.to_s
  .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :id => @modalName, :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          .contest
            .contest-title
              .text-center
                %h3=contest.title
                .badge
                  -if (contest.contest_end.to_date-Time.now.to_date).to_i < 0
                    contest closed
                  -else
                    =(contest.contest_end.to_date-Time.now.to_date).to_i
                    days left
        .modal-body
          .contest-image
            .text-center
              =image_tag contest.image, size:"300"
          .contest-description
            .text-center{:style=>'text-align:justify;'}
              =contest.description
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
          =link_to "Take a part", contest, class: 'btn btn-info'
