.header
  .logo
    .text-center
      %b
        %h1 Letstars
    %i
      %span.logo-text show your talent

.bottomMenu
  Some content of bottom

.contests
  .wrap
    .text-center
      .appearing-contest
        .topic
          Latest contests:
      %hr
    .text-center
      .appearing-contest
        -@contests.each do |contest|
          -@modalName = '#myModal' + contest.id.to_s
          .contest
            .contest-title
              .topic
                =contest.title
            %hr
            .contest-image
              =image_tag contest.image, size:"300"
            %button.btn.btn-default.btn-lg.btn-block{"data-target" => @modalName, "data-toggle" => "modal", :type => "button"}
              More
    .text-center
      .appearing-contest
        .topic
          %p=link_to 'View all contests', contests_path, class:'btn btn-default'
    %hr
  .wrap
    .text-center
      .topic
        Latest news
    - @posts.each do |post|
      .well.well-sm
        .post
          %h3.title
            = link_to post.title_blog, post
          .post-annotation
            = post.content_blog
          %hr
          %p.post-date
            Published at:
            =time_ago_in_words(post.created_at)
    .text-center
      .topic
        %p=link_to 'View all news', posts_path, class:'btn btn-default'


-@contests.each do |contest|
  -@modalName='myModal' + contest.id.to_s
  .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :id => @modalName, :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          .contest
            .contest-title
              .text-center
                %h3=contest.title
        .modal-body
          .contest-image
            .text-center
              =image_tag contest.image, size:"300"
          .contest-description
            .text-center{:style=>'text-align:justify;'}
              =contest.description
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
          =link_to "Take a part", contest, class: 'btn btn-info'
