.header
.col-lg-1
.col-lg-10
  .content
    .contact
      .text-center
        .topic
          If you have any questions, you can contact us anytime via one of the emails below.
      %hr
      %ul
        %li If you need to make a contact with creators of the project or you have any other questions about letstars: Letstars@letstars.com
        %li If you need some technical support: Support@letstars.com
        %li If you have any suggestions about advertising: Adv@letstars.com

