/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'normalize.css.scss';

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300);
*{
  margin:0;
  padding:0;
}
html,body{
  background: #EDEFF0;
  font-family: sans-serif;
  height: 2000px;
}
hr{
  border-color: #CED0D7 -moz-use-text-color -moz-use-text-color;
}
.navbar{
  top:0;
  z-index: 2;
  border-radius: 0px;
  position:fixed;
  padding: 1em;
  font-size: large;
  width:100%;
  height:60px;

  background-color:white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.95);

  background-color:#ffffff;
  box-shadow:0 0 5px grey;
  background-color:white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: none repeat scroll 0 0 rgba(255, 255, 255, 1);

  a{
    color:#333333;
    &:hover{
      text-decoration: none;
      color:lavender;
    }
  }
}
.header{
  margin-top:60px;
  width: auto;
  height:550px;
  background:url('/assets/BannerAu5.0.gif') no-repeat;
  background-size: 100%;
  .logo{
    width:300px;
    height:170px;
    padding-top: 20px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background:rgba(1,1,1,0.5);
    position:relative;
    color:white;
    h1{
      margin:0;
      padding:0;
      font-family: impact;
      font-size:71px;
      line-height: 1.1;
    }
    .logo-text{
      color:white;
      text-align: left;
      margin-left: 2.3em;
    }

  }
}

.wrap_contest{
  margin: 0 auto;
  padding: 3.5rem 0;
  width: 85%;
  height: 790px;
  .contest {
    float: left;
    margin: 30px;
    height: 500px;
    width: 300px;
    .btn{
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
    }
    .contest-title{
      height:60px;
      text-align: center;
      .topic {
        text-align: center;
        margin-bottom: 0;
        .i {
          font-size: 2.5rem;
          color: green;
        }
      }
    }
    hr{
      margin-top:0;
    }
  }
  .text-center{
    .topic{
      margin:1em;
      text-align: center;
      clear:both;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 20px;
      .btn{
        font-weight: 100;
        font-size: 20px;
      }
    }
  }
}


.contests{
  display: none;
  clear: both;
  display: inline-block;
  margin: auto;
  width: 100%;
  position: relative;
  .contest{
    float:left;
    width:300px;
    margin:26px;
  }
}
.page-buffer{
  margin-bottom: 1%;
  height:50px;
}
.footer{
  margin-top: 0;
  color:#ffffff;
  height:440px;
  width:100%;
  background-color: cadetblue;
  .site-info{
    float: none;
    margin:auto;
    width:70%;
    padding-top: 4%;
    .footer-sitemap{
      display: inline-block;
      width:100%;
      a{
        color: #595A5D;
      }
      .col{
        float:left;
        width:33.3%;
        padding-bottom: 2%;
      .sitemap-heading{

        }
        .sitemap-list li{
          list-style: outside none none;
          line-height: 2;
        }

      }
    }
    .footer-company-description{
      text-align: center;
      border-top: 1px solid #ffffff;
      padding: 2em;
      font-weight: bold;
      font-size: 14px;
    }
    .footer-subcontent{
      border-top: 1px solid #ffffff;
      padding-top: 1em;
      text-align: center;
      ul{
        list-style: outside none none;
        float: right;
        li{
          display: inline-block;
          .social{
            width:50px;
            height: 50px;
          }
        }
      }
    }
  }
}
.wrap_post{
  margin: 0 auto;
  padding: 3.5rem 0;
  width: 85%;
  height: 900px;
  .post {
    padding:1em 5%;
    .post-annotation {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 60px;
    }
    .post-date{
      text-align: right;
    }
  }
  .text-center{
    .topic{
      margin:1em;
      text-align: center;
      clear:both;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 20px;
      .btn{
        font-weight: 100;
        font-size: 20px;
      }
    }
  }
}
#post_index {
  background: white;
  border-radius: .5em;
  margin-top: 6em;
  border-radius: 3px;
  margin-bottom: 3em;
  height:200px;
  overflow: hidden;
  #post_index_image{
    float:left;
    height:100%;
    width:30%;
    overflow:hidden;
    img{
      border-radius: 3px 0 0 3px;
    }
  }
  #post_index_content{
    float:left;
    width:70%;
    padding:1em;
    .title {
      border-bottom: 1px solid #e3e3e3;
      color: #397CAC;
      font-weight: 500;
      text-decoration: none;
      font-size: 2.5em;
      margin-bottom: 0;
      padding-bottom: 20px;
    }
    .date {
      text-align: right;
      padding-top: 1em;
    }
  }
}

/*============================================= Arsen CSS */
.well {
  background-color: white;
}
.row{
  margin-left:0px;
  margin-right: 0px;
}

#post_content {
  background: white;
  padding: 2em 5%;
  border-radius: .5em;
  margin-top: 6em;
  border-radius:3px;
  margin-bottom:3em;
  .title {
      border-bottom: 1px solid #e3e3e3;
      color: #397CAC;
      font-weight: 500;
      text-decoration: none;
      font-size: 2.5em;
      margin-bottom: 0;
      padding-bottom: 20px;
    }
    .date {
      text-align: right;
      padding-top: 1em;
    }

    .body {
      font-size: 1.5em;
      line-height: 1.75;
      padding-top: 0.4em;
    }
    #comments {
      h3 {
        padding-bottom: 1em;
        padding-top:2em;
        border-bottom: 2px solid #D1d1d1;
      }
    #comment_content {
        padding:4em 3em;
        border-bottom: 1px solid #D1d1d1;
      }
      .buttons {
        width: 25%;
        float: right;
        font-size: 1em;
        text-align: right;
        padding-top: 1.5em;
      a {
        color: #397CAC;
        border: 1px solid #397CAC;
        padding: .5em 1em;
        border-radius: 0.2em;
        text-decoration: none;
        margin-right: 2%;
        }
      }
      input[type="submit"] {
        background: #397CAC;
        border: none;
        color: white;
        font-weight: 100;
        padding: .5em 1em;
        border-radius: .2em;
      }
      textarea {
        width: 100%;
        min-height: 200px;
        border: 1px solid #d1d1d1;
        border-radius: .2em;
        margin: 1em 0;
  } 

    }


}  
