/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300);
*{
  margin:0;
  padding:0;
}
html{
  position: relative;
  min-height: 100%;
}
body{
  margin-top:60px;
  background: #FFFFFF;
  font-family: "brandon-grotesque",sans-serif;
  margin-bottom: 500px;
}
hr{
  border-color: #CED0D7 -moz-use-text-color -moz-use-text-color;
}
audio{
  background-color: #397CAC;
  border-radius: 5px;

}

.img_logo { 
    background:asset_url('logo3.gif') no-repeat;
    background-size: cover;
    height: 58px;
    margin-top: -17%;
    width: 60px;
  }

.navbar{
  top:0;
  z-index: 2;
  border-radius: 0px;
  position:fixed;

  font-size: large;
  width:100%;
  height: 3.4em;
  box-shadow:0 0 5px grey;
  background-color:white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  
  .navbar-nav {
    float:right;
    padding-top:0;

    a {
      margin-left: 30px;
      padding: 15px 0;
    }
  }
  i {
    font-size: 4.5rem;
    padding-top: 0;
    padding-left:10px;
    color: #A8716A;
  }


  a{
    color: #4c5650 !important;
    font-family: "brandon-grotesque",sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1 !important;
    text-transform: uppercase;
    &:hover{
      border-bottom: 3px solid #A56C65;
      color: #A56C65 !important;
      padding-bottom: 0.5rem; 
    }
  }
  .container-fluid{
    background-color: #ffffff;
  }
}
.header{
  width: auto;
  height: 476px;
  margin: 0 0 0;
  max-height: 476px;
  background:asset_url('Banner_3.0.gif') no-repeat;
  background-size: cover;
  .logo{
    width:490px;
    height:150px;
    padding:20px 0px 0px 10px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background:rgba(1,1,1,0.5);
    position:relative;
    color:white;
    h1{
      margin:0;
      padding:0;
      font-family: "brandon-grotesque",sans-serif;
      line-height: 1.1;
      color: #fff;
      font-size: 70px;
      letter-spacing: 10px;
      text-transform: uppercase;
      font-weight:700;
    }
    .logo-text{
    color: #cac8c2;
    font-family: "brandon-grotesque",sans-serif;
    font-weight: 400;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 5px;
    }

  }
}

.my_badge {
  color: rgb(153, 153, 153);
  font-size: 22px;
  font-weight: 300;
}

.contest-title{
    height: auto;
    margin-top: 0%;
    padding: 20px 20px 0 !important;
    position: relative;
    text-align: center;
    font-size:25px;
    color:#4c5650 !important;
    text-transform: uppercase;
    width: 100%;
    text-decoration: none;
    a{
      color:#4c5650;
    }
    a:hover {
     color:#4c5650; 
     text-decoration:none; 
     cursor:pointer;  
    }
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
    
      .topic {
        text-align: center;
        margin-bottom: 0;
        color:#4c5650;
        padding-top:0%;
      }
}

.contests {
   display:flex;
   flex-flow: row wrap; 
  .contest {
    float: center;
    width: 33.33%;
    margin: 0;
      .contest-image {
        max-width: 100%;
        height: auto;
        opacity:0.9;
        margin:0px 40px;
        opacity: 1;
        .gradient{
          background-image: linear-gradient(-179deg, transparent 50%, rgb(0, 0, 0) 98%);
          padding: 0 0 60.7%;
        }
      }
    .btn {
      background: none repeat scroll 0 0 #9FB0B3;
      border: medium none;
      border-radius: 2rem;
      outline: medium none;
      padding: 1rem 3.5rem;
      width:35%;
      margin-left:33.33%;
    }
  }
}
.topic {
    clear: both;
    font-family: "brandon-grotesque",sans-serif;
    color: #4c5650;
    font-size: 3.2rem;
    font-weight: 700;
    margin: 2.5em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8px;
  .btn {
    font-weight: 100;
    font-size: 20px;
  }
}

.page-buffer{
  margin-bottom: 1%;
  height:50px;
}
.footer{
  position: absolute;
  bottom: 0;
  color:#ffffff;
  height:500px;
  width:100%;
  background-color: #4E7A79;
  .site-info{
    float: none;
    margin:auto;
    width:70%;
    padding-top: 4%;
    .footer-sitemap{
      display: inline-block;
      width:100%;
      a{
        color: #595A5D;
      }
      .col{
        float:left;
        width:33.3%;
        padding-bottom: 2%;
      .sitemap-heading{

        }
        .sitemap-list li{
          list-style: outside none none;
          line-height: 2;
        }

      }
    }
    .footer-company-description{
      text-align: center;
      border-top: 1px solid #ffffff;
      padding: 2em;
      font-weight: bold;
      font-size: 14px;
    }
    .footer-subcontent{
      border-top: 1px solid #ffffff;
      padding-top: 1em;
      text-align: center;
      ul{
        list-style: outside none none;
        float: right;
        li{
          display: inline-block;
          .social{
            width:50px;
            height: 50px;
          }
        }
      }
    }
  }
}
.content{
  padding-top: 30px;
  padding-bottom: 520px;
}
.posts{
  display:flex;
  min-height:200px;
}
.post {
  margin:0 30px 60px 30px;
  background: #9FB1B4;
  padding:0em 5%;
  width: 33.3%;
  transition: background .4s ease-in-out;
  &:hover {
    background: darken(#9FB1B4, 10%);
  }
    .post-title {
        margin-top: 0%;
        padding: 35px 0 !important;
        position: relative;
        text-align: left;
        font-size:20px;
        color:#fff !important;
        text-transform: uppercase;
        text-decoration: none;
        a{
          color:#fff;
        }
        a:hover {
         color:#fff; 
         text-decoration:none; 
         cursor:pointer;  
        }
    }
 /*.post-annotation {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 60px;
  } */
  .post-info{
  display: inline;
  }
  .glyphicon-comments {
    color: #596F71;
    text-align: left;
  }
  .post-date {
    color: #596F71;
    text-align: left;
    padding-bottom: 20px;
  }
}

.post2 {
  background: #4B7978;
  padding:0em 5%;
  width: 33.3%;
  .post-annotation {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 60px;
  }
  .post-date{
    text-align: right;
  }
}

.post3 {
  background: #C7C5BE;
  padding:0em 5%;
  width: 33.3%;
  .post-annotation {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 60px;
  }
  .post-date{
    text-align: right;
  }
}

#post_index {
  background: white;
  border-radius: .5em;
  margin-top: 6em;
  border-radius: 3px;
  margin-bottom: 3em;
  height:200px;
  overflow: hidden;
  #post_index_image{
    float:left;
    height:100%;
    width:30%;
    overflow:hidden;
    img{
      border-radius: 3px 0 0 3px;
    }
  }
  #post_index_content{
    float:left;
    width:70%;
    padding:1em;
    .title {
      color: #4c5650;
      font-weight: 500;
      text-decoration: none;
      font-size: 2.5em;
      margin-bottom: 0;
      padding-bottom: 20px;
    }
    .date {
      text-align: right;
      padding-top: 1em;
    }
  }
}
.muslabel {
  clear:both;
  padding-bottom:5px;
  .muslabel_author {
  width: 100px;
  border: 1px solid cadetblue;
  border-radius: 5px;
  margin-right: 5px;
  padding: 3px;
  text-align: center;
  float: left;
  }
  .track{
    float:left;
    margin-right: 5px;
  }
  .muslabel_track{
  width: 400px;
  border: 1px solid cadetblue;
  border-radius: 5px;
  margin-right: 5px;
  padding: 3px;
  text-align: center;
  float: left;
  }
  .muslabel_vote{
  width: 100px;
  border: 1px solid cadetblue;
  border-radius: 5px;
  margin-right: 5px;
  padding: 3px;
  text-align: center;
  float: left;
  }
  .muslabel_delete{
  width: 100px;
  border: 1px solid cadetblue;
  border-radius: 5px;
  margin-right: 5px;
  padding: 3px;
  text-align: center;
  float:left;
  }
  .muslabel_score{
    width: 100px;
    border: 1px solid cadetblue;
    border-radius: 5px;
    margin-right: 5px;
    padding: 3px;
    text-align: center;
    float:left;
  }
}
.bottomMenu {
  display: none;
  position: block;
  bottom: 0;
  width: 100%;
  height: 60px;
  border-top: 1px solid #000;
  background: red;
  z-index: 1;
}

/*============================================= Arsen CSS */
.well {
  background-color: white;
}
.row{
  margin-left:0px;
  margin-right: 0px;
}

#post_content {
  background: white;
  padding: 2em 5%;
  border-radius: .5em;
  border-radius:3px;
  margin-bottom:3em;
  .post_image{
    height:300px;
    width: 300px;
    float:left;
    margin:10px;
    padding-bottom: 10px;
  }
  .title {
      border-bottom: 1px solid #e3e3e3;
      color: #397CAC;
      font-weight: 500;
      text-decoration: none;
      font-size: 2.5em;
      margin-bottom: 0;
      padding-bottom: 20px;
    }
    .date {
      text-align: right;
      padding-top: 1em;
    }

    .body {
      font-size: 1.5em;
      line-height: 1.75;
      padding-top: 0.4em;
    }
    #comments {
      clear: both;
      h3 {
        padding-bottom: 1em;
        padding-top:2em;
        border-bottom: 2px solid #D1d1d1;
      }
    #comment_content {
        padding:4em 3em;
        border-bottom: 1px solid #D1d1d1;
      }
      .buttons {
        width: 25%;
        float: right;
        font-size: 1em;
        text-align: right;
        padding-top: 1.5em;
      a {
        color: #397CAC;
        border: 1px solid #397CAC;
        padding: .5em 1em;
        border-radius: 0.2em;
        text-decoration: none;
        margin-right: 2%;
        }
      }
      input[type="submit"] {
        background: #397CAC;
        border: none;
        color: white;
        font-weight: 100;
        padding: .5em 1em;
        border-radius: .2em;
      }
      textarea {
        width: 100%;
        min-height: 200px;
        border: 1px solid #d1d1d1;
        border-radius: .2em;
        margin: 1em 0;
  } 

    }


}  
