!!!
%html
  %head
    %title
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .navbar
      -if !user_signed_in?
        =link_to 'Log in', new_user_session_path
        =link_to 'Registe', new_user_registration_path
      -else
        -if current_user.profile
          =link_to 'My profile', profile_path(current_user.profile)
        -else
          =link_to 'New Profile', new_profile_path
        =link_to 'Home', root_path
        =link_to 'new', new_contest_path
        =link_to 'log out', destroy_user_session_path, method: :delete

    =yield
