!!!
%html
  %head
    %title
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .navbar
      -if !user_signed_in?
        =link_to 'Log in', new_user_session_path
        =link_to 'Registe', new_user_registration_path
      -else
        -if current_user.profile
          =link_to 'My profile', profile_path(current_user.profile)
        -else
          =link_to 'New Profile', new_profile_path
        =link_to 'Home', root_path
        =link_to 'new', new_contest_path
        =link_to 'log out', destroy_user_session_path, method: :delete

    =yield

    .footer
      .site-info
        .footer-sitemap
          .col
            .sitemap-heading
              %h4 Product
            .sitemap-list
              %ul
                %li=link_to 'Home', root_path
                %li=link_to 'Contests', contests_path
                %li=link_to 'Blog', posts_path
          .col
            .sitemap-heading
              %h4 Company
            .sitemap-list
              %ul
                %li=link_to 'About'
                %li=link_to 'Contact'
          .col
            %h4 Letstars
            All rights reserved 2015
            %br
            Letstars.inc
        .footer-company-description
          VHS cardigan ethical chillwave distillery dreamcatcher, swag banjo Wes Anderson Banksy quinoa butcher scenester. IPhone craft beer Thundercats vinyl, Blue Bottle actually kitsch. Small batch Echo Park wolf cliche, VHS flannel deep v jean shorts plaid dreamcatcher four dollar toast ennui kogi literally farm-to-table. Plaid YOLO keffiyeh, ugh lomo PBR&B vegan biodiesel slow-carb Tumblr selfies skateboard. Etsy pop-up fashion axe, pug leggings selfies selvage keffiyeh semiotics meggings gentrify paleo. Keytar taxidermy fixie, yr asymmetrical Blue Bottle retro Banksy brunch heirloom cray distillery hashtag. Authentic pork belly tote bag, wayfarers literally taxidermy Schlitz pour-over Kickstarter chia.
        .footer-subcontent
          sasdasda